@import "variables";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "modals";
@import "close";
@import "component-animations";
@import "buttons.less";
@import "navbar";
@import "navs";
@import "dropdowns.less";
@import "button-groups.less";

@import "utilities.less";
//@import "responsive-utilities.less";

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

.btn-drone {
  color: #fff;
  background-color: #000F20;
  border-color: #002E62;
}

/*
 * Base structure
 */
.header {
  height: 50px;
  overflow: hidden;
}

.logo {
  float: left;
}

.menu-toggle {
  position: relative;
  float: right;
  margin-right: 4px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 380px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 380px;
  width: 0;
  height: 100%;
  margin-left: -380px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .add-drone {
    //    height: 75px;
    background: @white;
    margin: 14px;
    padding: 9px;
    border-radius: 5px;
    color: @gray-darker;
    //    line-height: normal;
    //    position: relative;
    //    text-align: center;
    .head {
      font-family: 'Open Sans Bold';
      padding: 5px 0 10px 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
    }
  }

}

#wrapper.toggled #sidebar-wrapper {
  width: 380px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  height: 100%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -380px;
  height: 100%;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
top: 0;
width: 380px;
margin: 0;
padding: 0;
list-style: none;


}

.table {
  margin-bottom: 0;
  tr.debug {
    border-top: 1px solid #082956;
    td {
      margin: 2px 2px 0 2px;
      padding: 4px 4px;
    }
  }
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 2px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: none !important;
}

ul.sidebar-nav {
  &:last-child{
    margin-bottom: 50px;
  }
}
.sidebar-nav li.sidebar-list {
  line-height: 40px;
//  height: 150px;
  background: #002754;
  border-bottom: 1px solid lighten(@gray-base, 10%);
  padding: 7px 7px 7px 7px;
  margin: 14px 14px 7px 14px;
  border-radius: 5px;

  .btn-block {
    display: inline-block;
  }

  .display {
    background: rgba(0, 7, 15, 0.73);
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
//    border: 1px solid #00B2FF;
    font-size: 13px;
    color: #fff;
//    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    min-height: 75px;
    .message {
          font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
          color: #fff;
    }
    .drone-id {
      padding: 4px 10px;
      font-family: "Open Sans Light";
      font-size: 60px;
      line-height: 52px;
      color:  #fff;
    }

  }

  .form-control {
    display: inline-block;
  }


}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: "Open Sans";
//  color: @white;
}
.header {
  height: 50px;
  background: @gray-base;
  overflow: hidden;
  border-bottom: 2px solid @gray;
  position: relative;
  overflow: hidden;

  div {
    display: inline-block;
  }
  .logo {
    float: left;
  }
  .primary-controls {
    display: inline-block;
    margin: 9px 10px;
  }
  .connect {
    position: absolute;
    right: 10px;
    top: 9px;
  }

  .display{
    display: inline-block;
    background: #000000;
    margin: 9px 10px;
    padding: 6px;
    border: 1px solid #424242;
    font-size: 13px;
    border-radius: 3px;
    color: deeppink;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  }

  .console{
    display: inline-block;
    background: #000000;
    margin: 9px 10px;
    padding: 6px;
    border: 1px solid #424242;
    font-size: 13px;
    border-radius: 3px;
    color: #15EA15;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
//    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
//  position: absolute;
//  left: 0;
//  top: 50px;
  float: left;
  width: 391px;
  background: @gray-darker;
  overflow-y: scroll;

  .add-drone {
//    height: 75px;
    background: @white;
    margin: 14px;
    padding: 9px;
    border-radius: 5px;
    color: @gray-darker;
//    line-height: normal;
//    position: relative;
//    text-align: center;
    .head {
      font-family: 'Open Sans Bold';
      padding: 5px 0 10px 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
    }
  }
}


.container {
  height: 100%;
//  background: @dark-blue;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  //  overflow-x: scroll;
//  padding-left: 375px;
  width: 100%;
  padding: 0px;
}


#map {
  height: 100%;
}

.drone {
  background: @gray-lighter;
//  color: @white;
//  height: 124px;
  padding: 7px 7px 7px 7px;
  margin: 14px 14px 7px 14px;
  border-radius: 5px;
  span {
    display: block;
  }
  .status {
//    height: 109px;
    padding: 7px;
    background: @red;
    text-align: center;
    width: 100%;
    float: left;
    border-radius: 3px;
    min-height: 116px;
//    margin-right: 10px;
    .drone-id {
      font-family: "Open Sans Light";
      font-size: 45px;
      line-height: 52px;
    }
    .mode {
      text-transform: uppercase;
      font-size: 12px;
    }
    .batt {
      text-transform: uppercase;
      font-size: 12px;
    }
    .armed-display {
      text-transform: uppercase;
      font-size: 12px;
    }
    &.Armed {
      background: @green !important;
    }
    &.Disarmed {
      background: @red;
    }
  }
  .info {
    font-family: @font-family-monospace;
    background: #1F293C;
    height: 100%;
    border-radius: 3px;
  }

  ul.stats {
    list-style: outside none none;
    padding: 5px 0 0 10px;
    margin-bottom: 8px;
    li {
      position: relative;
      display: block;
      padding: 2px 0;
      font-size: 12px;
      &:last-child {
        padding: 2px 0 0 0;
      }

      &.flight-status {
      }
    }
  }
  
  .controls>div {
    padding-bottom: 12px;
  }
}




@media(min-width:768px) {
  #wrapper {
    padding-left: 380px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 380px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
