
<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Swarm Control</title>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="bower_components/lodash/dist/lodash.min.js"></script>
      <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
      <script src="js/socket.io.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="swarmcontrol as app">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Swarm Control</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
<!--          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>-->
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-3 sidebar">
            <div class="drone">
                <div class="status">
                    <span class="gps">GPS Fix</span>
                    <span class="drone-id">01</span>
                    <!--<span class="port">com3</span>-->
                    <span class="mode">Stabalize</span>
                </div>
                <div class="controls">
                    <a class="btn btn-default" href="#" role="button">Link</a>
                    <button class="btn btn-default" type="submit">Button</button>
                    <input class="btn btn-default" type="button" value="Input">
                    <input class="btn btn-default" type="submit" value="Submit">
                    <span class="gps-location">
                        32.236154,-51.213654
                    </span>
                </div>
            </div>
        </div>









          <div class="drone row no-gutter" ng-repeat="drone in drones | orderBy: 'id'" ng-cloak>

              <div class="col-xs-3">
                  <div class="status">
                      <span class="armed">{{drone.armed}}</span>
                      <span class="drone-id">{{drone.id}}</span>
                      <span class="mode">{{drone.mode}}</span>
                      <span class="gps">{{drone.gps_fix}} </span>
                  </div>
              </div>
              <div class="controls col-xs-9" id="{{drone.id}}">

                  <div class="info row no-gutter">
                      <div class=" col-xs-6">
                          <span>ALT: {{drone.alt}}m </span>
                          <span>BATT: {{drone.batt}}%</span>
                          <span>VOLT: {{drone.voltage}}V</span>
                      </div>
                      <div class="col-xs-6">
                          <span>ALT 2: {{drone.alt2}}m</span>
                          <span>STATE: {{drone.state}} </span>
                          <span>PORT: {{drone.port}}</span>
                      </div>

                  </div>

                  <div class="btn-group btn-group-justified " role="group" aria-label="...">
                      <div class="btn-group btn-group-sm" role="group">
                          <button type="button" class="btn btn-default">Left</button>
                      </div>
                      <div class="btn-group btn-group-sm" role="group">
                          <button type="button" class="btn btn-default">Middle</button>
                      </div>
                      <div class="btn-group btn-group-sm" role="group">
                          <button type="button" class="btn btn-default">Right</button>
                      </div>
                  </div>
                  <div class="btn-group btn-group-justified " role="group" aria-label="...">
                      <div class="btn-group btn-group-sm" role="group">
                          <button type="button" class="btn btn-default">Left</button>
                      </div>
                      <div class="btn-group btn-group-sm" role="group">
                          <button type="button" class="btn btn-default">Middle</button>
                      </div>
                      <div class="btn-group btn-group-sm" role="group">
                          <button type="button" class="btn btn-default">Right</button>
                      </div>
                  </div>

                  <div >

                      <!--
                      <button id="Arm" ng-click="commandSend($event)" class="btn btn-default btn-sm" >Arm</button>
                      <button id="Disarm" ng-click="commandSend($event)" class="btn btn-default" type="submit">Disarm</button>
                      <button id="Launch" ng-click="commandSend($event)" class="btn btn-default" type="submit">Launch</button>-->
                  </div>
                  <!--<div>
                      <button id="Hold" ng-click="commandSend($event)" class="btn btn-default" type="submit">Hold</button>
                      <button id="Return" ng-click="commandSend($event)" class="btn btn-default" type="submit">Return</button>
                      <button id="Land" ng-click="commandSend($event)" class="btn btn-default" type="submit">Land</button>
                  </div>-->

              </div>

          </div> <!-- end drone -->
          <div class="add-drone">
              <form ng-submit="addDrone($event)">
                  <label for="port">Port</label>
                  <select id="port" data-ng-model="comport">
                      <option value="volvo" >COM3 | 3DR Radio</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                  </select>
                  <label for="baudrate">Baud</label>
                  <select id="baudrate" data-ng-model="baud">
                      <option value="volvo">57600</option>
                      <option value="saab">112500</option>
                  </select>

                  <button type="submit">Connect</button>
              </form>
          </div>














        <div class="col-xs-9 col-xs-offset-3 main">
            <button class="test">Test</button>
              {{app.message}}

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
            /*!
     * IE10 viewport hack for Surface/desktop Windows 8 bug
     * Copyright 2014 Twitter, Inc.
     * Licensed under the Creative Commons Attribution 3.0 Unported License. For
     * details, see http://creativecommons.org/licenses/by/3.0/.
     */

    // See the Getting Started docs for more information:
    // http://getbootstrap.com/getting-started/#support-ie10-width

    (function () {
      'use strict';
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.querySelector('head').appendChild(msViewportStyle)
      }
    })();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
