
<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Swarm Control</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="swarmcontrol as app">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container header">
        <div class="logo">
            <img src="img/logo.png" alt=""/>
        </div>
        <div id="navbar" class="">
            <form class="navbar-form ">

                <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalNorm">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config
                </button>
                <button  class="btn btn-success  btn-sm" ng-click="launch()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Launch
                </button>
                <button  class="btn btn-default  btn-sm" ng-click="simulationInit()">
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                    Simulate
                </button>
                <div class="form-group">
                    <input type="text" placeholder="Center" value="{{center.lat}}, {{center.lng}}" class="form-control  input-sm" disabled>
                </div>

                <button  class="btn btn-default  btn-sm" ng-click="pause()">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
                <button  class="btn btn-danger  btn-sm" ng-click="recall()">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Recall
                </button>

            </form>
        </div><!--/.navbar-collapse -->

        <!--         <div class="console">
                    [DEBUG] Removing sessid='508479019515' client_queue[1] server_queue[1] hits=1 from server sockets
                </div>

               <div class="connect">
                    <button ng-click="mainConnect()" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                        Connect to Server
                    </button>
                </div>-->
    </div>



</nav>



<!--<div class="header">
    <div class="container-fluid">
&lt;!&ndash;        <div class="row">
            <a href="#menu-toggle" class="btn btn-sm btn-default" id="menu-toggle">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </a>
            <div class="logo">
                <img src="img/logo.png" alt=""/>
            </div>
            <div class="primary-controls">
                <button ng-click="initiate()" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Initiate</button>
                <button class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Abort</button>
            </div>
        </div>&ndash;&gt;
        <div class="display">
            Center: {{center.lat}},{{center.lng}}
        </div>
    </div>


</div>-->
<div id="wrapper">


    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-list" ng-repeat="drone in drones | orderBy: 'id'" ng-cloak>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="display">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th class="text-center" rowspan="4">
                                            <span class="drone-id">{{drone.id}}</span>
                                        </th>
                                        <th>{{drone.armed}}</th>
                                        <th>{{drone.gps_fix}}</th>
                                        <th>ALT: {{drone.alt}}m</th>
                                    </tr>
                                    <tr>
                                        <td>{{drone.mode}}</td>
                                        <td>{{drone.state}}</td>
                                        <td>DIST: {{drone.dist_to_dest}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{drone.batt}}%</td>
                                        <td>{{drone.voltage}} V</td>
                                        <td>{{drone.port}}</td>
                                    </tr>
                                    <tr class="debug">
                                        <td class="message" colspan="3">DEST: {{drone.dest[0]}}, {{drone.dest[1]}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="{{drone.id}}" class="row">

                    <div class="col-xs-3">
                        <button data-command="Arm" ng-click="commandSend($event)"  class="btn btn-success btn-block btn-sm ">Arm</button>
                    </div>
                    <div class="col-xs-4">
                        <form class="form">
                            <select ng-model="mode[drone.id]" class="form-control input-sm" ng-focus="focusCallback($event)" ng-change="commandSend(mode[drone.id])">
                                <option value="Guided">Guided</option>
                                <option value="Loiter">Loiter</option>
                                <option value="Stabilize">Stabilize</option>
                                <option value="Auto">Auto</option>
                                <option value="RTL">RTL</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-xs-3">
                        <button data-command="Disarm"   ng-click="commandSend($event)" class="btn btn-danger btn-block btn-sm ">Disarm</button>
                    </div>
                    <div class="col-xs-2">
                        <button  ng-click="commandSend($event)" data-command="Disconnect" class="btn btn-danger btn-block btn-sm" >
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="add-drone">
                    <span class="head">Add Drone</span>

                    <form ng-submit="addDrone($event)" role="form">
                        <div class="row">
                            <div class="col-xs-4">
                                <select id="baudrate" class="form-control input-sm" data-ng-model="baud">
                                    <option ng-repeat="n in baudrates" value="{{n}}">{{n}}</option>
                                </select>
                            </div>
                            <div class="col-xs-8">
                                <select id="port"  class="form-control input-sm" data-ng-model="comport">
                                    <option  ng-repeat="t in ports" value="{{t.port}}"> {{t.port}} | {{t.desc}}</option>
                                </select>
                            </div>

                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-3">
                                <button type="button" ng-click="getPorts()" class="btn btn-info btn-block btn-sm">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-9">
                                <button type="submit" class="btn btn-info btn-block btn-sm pull-right">Connect</button>
                            </div>
                        </div>
                    </form>
                    <span class="clearfix"></span>
                </div>
            </li>
            <!--<hr/>-->
        </ul>



    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

    </div>
    <!-- /#page-content-wrapper -->


</div>




<!-- Configure Menu -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Configuration
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form">

                    <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="configCenterLat">Center (lat)</label>
                            <input type="number" required id="configCenterLat" class="form-control" data-ng-model="center.lat" value="{{center.lat}}">
                        </div>
                        <div class="col-xs-4">
                            <label for="configCenterLon">Center (lon)</label>
                            <input type="number" required id="configCenterLon" class="form-control" data-ng-model="center.lng" value="{{center.lng}}">
                        </div>
                        <div class="col-xs-4">
                            <label for="configSeparation">Separation Distance (m)</label>
                            <input type="number" required id="configSeparation" class="form-control" data-ng-model="separationDistance" value="{{separationDistance}}">
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="configOpHeight">Op. Height (m)</label>
                            <input type="number" required id="configOpHeight" class="form-control" data-ng-model="operatingHeight" value="{{operatingHeight}}">
                        </div>
                        <div class="col-xs-3">
                            <label for="configCeiling">Ceiling Height (m)</label>
                            <input type="number" required id="configCeiling" class="form-control" data-ng-model="ceilingHeight" value="{{ceilingHeight}}">
                        </div>
                        <div class="col-xs-3">
                            <label for="configFence">Fence Radius (m)</label>
                            <input type="number" required id="configFence" class="form-control" data-ng-model="fenceRadius" value="{{fenceRadius}}">
                        </div>
                        <div class="col-xs-3">
                            <label for="configSim">Sim. Number </label>
                            <input type="number" required id="configSim" class="form-control" data-ng-model="simNumber" value="{{fenceRadius}}">
                        </div>
                    </div>
                        </div>
                </form>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>-->
                <button type="button" data-dismiss="modal" ng-click="sendConfig($event)" class="btn btn-primary">
                    Set Config
                </button>
        </div>
    </div>
</div>



<!-- /#wrapper -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="js/vendor/modernizr-2.6.2.min.js"></script>
<script src="js/socket.io.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/angular-socket-io/socket.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxTnpjrAoUh2OdMUDKeUEUxc6RPSxKczY"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<!-- Menu Toggle Script -->


</body>

</html>
