<!DOCTYPE html>
<html class="no-js" ng-app="app">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/socket.io.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/angular-socket-io/socket.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxTnpjrAoUh2OdMUDKeUEUxc6RPSxKczY"></script>

    </head>

    <body ng-controller="swarmcontrol as app">

        <div class="header">
           <div class="logo">
               <img src="img/logo.png" alt=""/>
           </div>
            <div class="primary-controls">
                <button ng-click="initiate()" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Initiate</button>
                <button class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Abort</button>
            </div>

        <div class="asdf">
            <form class="navbar-form navbar-left" role="search">
                <select class="form-control input-sm">
                    <option value="10">100 m</option>
                </select>
                <label for="height">Op. Height</label>
                <input type="text" id="height" class="form-control input-sm">
                    <!--<input type="text" class="form-control input-sm" placeholder="100 m">-->
            </form>
        </div>
            <div class="display">
                Center: {{center.lat}},{{center.lng}}
           </div>


            <div class="console">
                [DEBUG] (MainThread) Removing sessid='508479019515' client_queue[1] server_queue[1] hits=1 from server sockets
            </div>
            <!--<button class="btn btn-sm btn-default">Pick z</button>-->
            <div class="connect">
                <button class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</button>
                <button ng-click="mainConnect()" class="btn btn-sm btn-info">Connect</button>
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="row" ng-repeat="drone in drones | orderBy: 'id'" ng-cloak>
                    <div class="col-xs-12">
                        <div class="drone" >
                            <div class="row" >
                                <div class="col-xs-3">
                                    <div class="status {{drone.armed}}">
                                        <span class="armed-display">{{drone.armed}}</span>
                                        <span class="drone-id">{{drone.id}}</span>
                                        <span class="mode">{{drone.mode}}</span>
                                        <span class="batt">{{drone.batt}}% </span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="info">
                                        <ul class="stats">
                                            <li class="flight-status">{{drone.state}}</li>
                                            <li class="height">{{drone.alt}}m | {{drone.alt2}}m</li>
                                            <li class="voltage">{{drone.voltage}} V</li>
                                            <li class="gps">{{drone.gps_fix}}</li>
                                            <li class="port text-uppercase">{{drone.port}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div id="{{drone.id}}" class="controls">
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="Arm" ng-click="commandSend($event)" type="button" class="btn btn-success">Arm</button>
                                            </div>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="Disarm" ng-click="commandSend($event)" type="button" class="btn btn-warning">Disarm</button>
                                            </div>
                                        </div>

                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="Launch" ng-click="commandSend($event)" type="button" class="btn btn-warning">Launch</button>
                                            </div>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="Hold" ng-click="commandSend($event)" type="button" class="btn btn-warning">Hold</button>
                                            </div>
                                        </div>

                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="Recall" ng-click="commandSend($event)" type="button" class="btn btn-warning">Recall</button>
                                            </div>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="Land" ng-click="commandSend($event)" type="button" class="btn btn-warning">Land</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="add-drone">

                            <span class="head">Add Drone</span>

                            <form ng-submit="addDrone($event)" role="form">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select id="baudrate" class="form-control input-sm" data-ng-model="baud">
                                                <option ng-repeat="n in baudrates" value="{{n}}">{{n}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8">
                                        <select id="port"  class="form-control input-sm" data-ng-model="comport">
                                                <option  ng-repeat="t in ports" value="{{t.port}}"> {{t.port}} | {{t.desc}}</option>
                                        </select>
                                    </div>

                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <button ng-click="mainConnect()" class="btn btn-info btn-block btn-sm">
                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="col-xs-9">
                                        <button type="submit" class="btn btn-info btn-block btn-sm pull-right">Connect</button>
                                    </div>
                                </div>

                            </form>
                            <span class="clearfix"></span>

                        </div>
                    </div>
                </div>


                </div> <!-- end sidebar -->

            <div id="map">

            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>


<!--
obj["id"] = self.id
obj["gps"] = [self.lat, self.lon]
obj["gps_fix"] = self.fix_type
obj["sats"] = self.satellites_visible
obj["home"] = self.home
obj["alt"] = self.alt
obj["mode"] = self.flightmode
obj["armed"] = self.isArmed
obj["dest"] = self.destination
obj["voltage"] = self.battery_voltage
obj["batt_remaining"] = self.battery_remaining-->