/*========================================
 * Base structure
========================================== */

html, body {
    height: 100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*=====================================================
 * Top navigation
 * Hide default border to remove 1px line.
 ======================================================*/
.navbar-fixed-top {
    border: 0;
}

/*================================================
 * Sidebar
 *================================================*/

/* Hide for mobile, show later */
.sidebar {
    display: none;

}
@media (min-width: 768px) {
    .sidebar {
        width: 310px;
        float: left;
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #222;
        border: none;
    }
}


/*
 * Main content
 */

.main {
    padding: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
}
.main .page-header {
    margin-top: 0;
}

.origin .form-control {
    width: 60px;
}

